SUPERUSERS=["123456789"]
COMMAND_START=["/"]
SESSION_RUNNING_EXPRESSION=""
NICKNAME=["真寻"]
SESSION_EXPIRE_TIMEOUT=60
ALCONNA_USE_COMMAND_START=true
IMAGE_TO_BYTES=false
SELF_NICKNAME="真寻"
QBOT_ID_DATA={}
DB_URL="sqlite://data/db.sqlite3"
PLATFORM_SUPERUSERS={}
DRIVER="~fastapi+~httpx+~websockets"
HOST="127.0.0.1"
PORT=8080
